<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Добро пожаловать</title>
</head>
<body>
    <h1>Добро пожаловать, <b th:text="${user.login}"></b>!</h1>
    <img src="https://media.giphy.com/media/ggtpYV17RP9lTbc542/giphy.gif" width="300" height="300" />
    <h3>Вы успешно зарегистрированы в приложении "Школа иностранных языков".</h3>
</body>
</html>